block content
    h1 欢迎来到全天下最美的小鹅所在的天鹅湖~
    img(src="https:////si.geilicdn.com/hz_img_653800000165a4eb14030a02853e_1080_1440.jpeg" style="width:300px;height:350px;margin:5px")
    br
    a(href='/memory') 爱的回忆
    br
    a(href='/photowall') 作品集